* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

img {
  display: block;
  width: 100%; }

body {
  font-size: 0;
  margin: 0;
  background: #F8F8F8; }

#app-container {
  font-size: medium;
  font-family: "Hind", "Futura", "sans-serif"; }

.colstack {
  font-size: 0; }

.colstack > * {
  display: inline-block;
  vertical-align: top;
  font-size: medium; }

/* NAV BAR 1 */
.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #F8F8F8;
  width: 100%;
  margin: 0; }

.mobile_nav > * {
  border: 1px solid #ddd; }

.mnav_logo {
  width: 20%;
  padding: 7px 15px 6px; }

.mobile_logo {
  max-width: 50px;
  margin: 0 auto; }

.mnav_rest,
.mnav_vent {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 15px; }

.mnav_bars {
  width: 20%;
  text-align: center;
  padding: 15px; }

.desktop_nav {
  display: none; }

.desktop_subnav {
  display: none; }

.mobile_subnav {
  width: 100%;
  background: #030404;
  padding-top: 52px;
  margin: 0 auto; }

.nosrest {
  width: 80%;
  color: #FFF;
  padding: 3px;
  border-right: 1px solid #CCC; }

.nav_tab {
  width: 20%;
  text-align: center; }

.nav_tab i {
  color: #fff;
  font-size: 57px;
  font-weight: 200;
  padding-top: 3px; }

.rest_tile {
  width: 100%;
  padding: 10% 0; }

.rest_tile > * {
  text-align: center;
  color: #F7F7F7;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px #000000; }

.tile_title {
  font-size: 12px;
  margin-top: 0; }

.rest_name {
  margin-bottom: 0;
  padding-top: 10%; }

.tilesquiggle {
  display: block;
  margin: 0 auto 20%;
  width: 10%; }

.ny_noodle {
  background-image: url("../images/momofuko-01-noodlebarbowl_mini.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.ssamba {
  background-image: url("../images/momofuko-02-ssam-bar.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.ko {
  background-image: url("../images/momofuko-03-ko.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.mypeach {
  background-image: url("../images/momofuko-04-ma-peche.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.nishi {
  background-image: url("../images/momofuko-05-nishi.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.ccdc {
  background-image: url("../images/momofuko-06-CCDC.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.nicky {
  background-image: url("../images/momofuko-09-nikai.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.swords {
  background-image: url("../images/momofuko-07-daisho.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.short {
  background-image: url("../images/momofuko-08-shoto.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

.droog {
  background-image: url("../images/momofuko-milkbar-10.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: 5px 0; }

@media screen and (min-width: 678px) {
  .mobile_nav {
    display: none; }

  .desktop_nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #F9F9F9;
    border: 2px solid #D9D8D8;
    z-index: 2; }

  .desktop_nav > * {
    width: 100%; }

  .desktop_nav img {
    width: 60px;
    margin: 0 auto;
    padding: 20px 0 10px; }

  .dnav_logo .desktop_logo {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 80px 10px; }

  .dnav_rest {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 40px 10px;
    border-top: 1px solid #EEEEEE; }

  .dnav_comp {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 40px 10px;
    border-top: 1px solid #EEEEEE; }

  .dnav_vent {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 40px 10px;
    border-top: 1px solid #EEEEEE; }

  .dnav_socl {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 40px 10px;
    border-top: 1px solid #EEEEEE;
    padding-top: 60px;
    padding-bottom: 10px; }
    .dnav_socl .social-icons {
      width: 100%; }
    .dnav_socl .social {
      margin: 0 6px;
      width: 25%; }
    .dnav_socl img {
      padding: 0; }
    .dnav_socl i {
      font-size: 21px; }
    .dnav_socl p {
      padding-top: none; }

  .mobile_subnav {
    display: none; }

  .desktop_subnav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #030404;
    margin: 0 auto;
    z-index: 1;
    padding-left: 200px; }

  .nuesrest {
    width: 50%;
    text-align: left;
    font-size: 15px;
    color: #fff;
    padding: 15px 0;
    letter-spacing: 2px;
    font-weight: 100;
    padding-left: 15px; }

  .rest_list {
    width: 50%;
    text-align: right;
    padding-left: 0; }

  .deskrest {
    width: 49.5%;
    font-size: 15px;
    color: #fff;
    padding: 15px 0;
    letter-spacing: 2px;
    font-weight: 100;
    padding-right: 15px; }

  .main_content {
    width: 95%;
    margin: 0 auto;
    padding-left: 200px;
    padding-top: 50px; }

  .rest_tile {
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */
